*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding: 20px 40px;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: black;
}
